input:focus {
    border: 1px solid #c45414;
    box-shadow: 0 0 4px #c45414;
}

:-webkit-input-placeholder {
    color:#888;
    font-style:italic;
}

:-moz-placeholder {
    color:#888;
    font-style:italic;
}

html {
    height:100%;
    font-size: 100%;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    -webkit-font-smoothing:antialiased;
    /*background:url(../images/login-background.jpg) top left repeat-x #fff;*/
    font-size: 16px;
    font-smoothing:antialiased;
    height:100%;
    line-height: 1.5em;
    margin: 0;
    text-align: center;
}

body, input {
    font-family: helvetica, arial, sans-serif;
    color: #000;
}

input[type=reset], input[type=submit], input[type=button] {
    display: inline-block;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -moz-tap-highlight-color: rgba(0, 0, 0, 0);
    -o-tap-highlight-color: rgba(0, 0, 0, 0);
    tap-highlight-color: rgba(0, 0, 0, 0);
}

#loginBox {
    border:1px solid #c45414;
    border-top:10px solid #c45414;
    box-shadow: 0px 3px 8px #999;
    background:#fff;
    width:400px;
    margin:10% auto 0 auto;
    padding:1em;
    padding-bottom: 1em;
    text-align:center;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

h1 {
    color:#c45414
}

h3 {
    margin:1em 0;
    text-align:center;
    font-size:0.8em;
    font-weight:normal;
    color:#c45414;
    text-shadow: 1px 1px #ddd;
}

form {
    width:220px;
    margin:0 auto;
    overflow:hidden;
}

fieldset {
    border:none;
    margin:0.25em;
    padding:0;
}

fieldset input {
    display:block;
    margin-bottom:1em;
    border:1px solid #ccc;
    border:1px solid rgba(0,0,0,0.3);
    background:#fff;
    padding:2px 4px;
    width: 96%;
}

input.submit {
    display:inline-block;
    float:right;
    margin:0.25em;
    height:24px;
    line-height:24px;
    font-weight:bold;
    border:1px solid #666666;
    padding:0 10px;
    color: #333;
    cursor:pointer;
}

input.submit:hover, input.submit:active {
    background-position:bottom left;
}

#copyRights {
    font-size:0.7em;
    color:#888;
    padding:1em;
    text-align:center;
}

#copyRights a {
    color:#888;
}
